@page
@model Budgetoo.Pages.EnvelopesMethodModel
@{
	ViewData["Title"] = "Envelopes method";
}

<body class="justify-content-center" style="background-color:#dfeff8">
    <img src="~/images/EnvBudgeting.png" class="d-block w-100" alt="envbudgeting">
    <div class="container">
        <div class="row">
            <div class="col">
                <br />
                <br />
                <br />
                <br />
                <h3><b>1. Divide your income into envelopes.</b></h3>
                <br />
                <h5>
                    Each month’s income is divided into certain categories. Each category is attributed one
                    unique envelope, and all the expenses that fall under that certain category are taken out
                    of their own designated envelope. Envelopes can be created for any type of expenses. The
                    three main categories are: needs, wants, and savings.
                </h5>
            </div>
            <div class="col">
                <br />
                <img src="~/images/Divide.png" class="d-block w-100" alt="divide">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br />
                <br />
                <br />
                <br />
                <h3><b>2. Spend from the designated envelope.</b></h3>
                <br />
                <h5>
                    Along the way, you take money out of the envelopes to spend. For each category, spend out
                    of the designated envelope — and <i>only</i> that envelope! Yes, it can be really tempting
                    to make some switches, taking money from one envelope to another, but remember, consistency and
                    self-discipline are the two main keys to success.
                </h5>
            </div>
            <div class="col">
                <br />
                <img src="~/images/Spend.png" class="d-block w-100" alt="spend">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br />
                <br />
                <br />
                <br />
                <h3><b>3. Stop spending and see how much you saved.</b></h3>
                <br />
                <h5>
                    Stop once you’ve emptied the envelope — or even before if you’re really disciplined. In this way,
                    rather than figuring out that you overspent after the fact, you plan your spending beforehand and
                    only spend what you have.
                </h5>
            </div>
            <div class="col">
                <br />
                <img src="~/images/Stop.png" class="d-block w-100" alt="stop">
                <br />
            </div>
        </div>
    </div>


</body>
